.profileCard{
    border-radius: 2em;
   display: flex;
   flex-direction: column;
   position: relative;
   gap:1rem;
   /* overflow-x: clip; */
   background-color: white;
}
.profileImg{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileImg img:nth-of-type(1){
    width: 100%;
    border-radius: 2em 2em 0 0;
}
.profileImg img:nth-of-type(2){
   width: 6rem;
   border-radius: 50%;
   position: absolute;
   bottom:-3rem;
   box-shadow: 0px 4px 17px 2px rgba(0,0,0, 0.25);
}

.profileName{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:2rem;
    gap:10px;
}

.profileName span{
    font-weight: bold;
}

.followStatus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.75rem;
}

.followStatus div{
    display: flex;
    gap:1rem;
    width:80%;
    align-items: center;
    justify-content: space-around;
   
}

.follow{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.4rem;
    justify-content: center;
}

.follow span:nth-of-type(1){
    font-weight: bold;
}

.follow span:nth-of-type(2){
    color:grey;
    font-size: 13px;
}
.vl{
    height: 150%;
    width: 100%;
    border-left: 2px solid  grey; 
}

.profileCard > span{
    font-weight:bold;
    color:orange;
    align-self:center;
    margin-bottom: 1rem;
    cursor:pointer;
}